<template>
  <div>
    <ul>
      <li v-for="quote in quotes" :key="quote">{{ quote }}</li>
    </ul>
    <button type="button" class="btn btn-secondary" @click="refreshPageQuotes" :disabled="isRequested">Refresh</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      quotes: [],
      isRequested: false,
    };
  },
  methods: {
    fetchQuotes() {
      this.isRequested = true;
      axios
        .get('/api/quotes')
        .then((response) => {
          this.quotes = response.data;
          this.isRequested = false;
        })
        .catch((error) => {
          this.isRequested = false;
          console.error(error);
        });
    },
    refreshPageQuotes() {
      this.fetchQuotes();
    },
  },
  mounted() {
    this.fetchQuotes();
  },
};
</script>
